@page "/category/{CategoryType}"

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="heading-title my-5 text-center">Unveiling the World of Knowledge: Your Exam Directory</div>
		</div>
		<div class="category-title">
			
		</div>
		<div>
			<NavLink class="my-auto back-btn" href="/categories">
				Back <img src="/Images/arrow-left.svg" />
			</NavLink>
		</div>
		@if (GetFilteredExams(CategoryType) != null)
		{
			@foreach (var exam in GetFilteredExams(CategoryType))
			{
				<div class="col-12 col-md-12 col-lg-6">
					<CategoryCard TestId="@exam.TestId" ImgUrl="@exam.ImgUrl" ImgAlt="@exam.ImgAlt" Title="@exam.Title" Difficulty="@exam.Difficulty" Questions="@exam.Questions" />
				</div>
			}
		}
		else
		{
			<div>No Category found.</div>
		}

	</div>
</div>

@code {
	[Parameter]
	public string CategoryType { get; set; } = string.Empty;

	private static List<ExamCategory> Categories = new List<ExamCategory>
	{
		new  ExamCategory
		{
			TestId = 1,
			CategoryType= "Nature",
			ImgUrl = "/Images/FlowerPic.png",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Flower Test",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 2,
			CategoryType= "Nature",
			ImgUrl = "/Images/RiverPic.png",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Water Test",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 3,
			CategoryType= "Nature",
			ImgUrl = "/Images/TreePic.png",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Tree Test",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 4,
			CategoryType= "Nature",
			ImgUrl = "/Images/MountainPic.png",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Mountain Test",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 5,
			CategoryType= "Biology",
			ImgUrl = "/Images/img2.jpg",
			TimeLimit = "No time limit",
			Title = "Biology Exam",
			Questions = 15,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 6,
			CategoryType= "Anatomy",
			ImgUrl = "/Images/img2.jpg",
			TimeLimit = "No time limit",
			Title = "Anatomy Exam",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 7,
			CategoryType= "Technology",
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Technology Exam",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			TestId = 8,
			CategoryType= "Geography",
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Geography Exam",
			Questions = 12,
			Difficulty = "Easy"
		}
	};
	private IEnumerable<ExamCategory> GetFilteredExams(string categoryType)
	{
		return Categories.Where(e => e.CategoryType == categoryType);
	}
}
