@page "/categories"
@inject IExamService ExamService
<TopSection />

<div class="container mx-auto mt-5">
	<div class="categories-title">Categories</div>
</div>


<div class="container">
	<div class="row">
		@foreach (var exam in Categories)
		{
		<div class="col-12 col-md-6 col-lg-4">
			<CategoriesCard ImgUrl="@exam.ImgUrl" ImgAlt="@exam.ImgAlt" Title="@exam.Title" Difficulty="@exam.Difficulty" Questions="@exam.Questions"/>
		</div>
		}
	</div>
</div>
@code {
	private static List<ExamCategory> Categories = new List<ExamCategory>
	{
		new  ExamCategory
		{
			ImgUrl = "/Images/img1.jpg",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Nature Exam",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam2",
			Questions = 15,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam3",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam4",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam5",
			Questions = 12,
			Difficulty = "Easy"
		}
	};

}
