@page "/category/{CategoryId:int}"

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="heading-title my-5">Unveiling the World of Knowledge: Your Exam Directory</div>
		</div>
		<div class="category-title">
			@Category Exams 
		</div>
		@foreach (var exam in Categories)
		{
		<div class="col-12 col-md-12 col-lg-6">
				<CategoryCard ImgUrl="@exam.ImgUrl" ImgAlt="@exam.ImgAlt" Title="@exam.Title" Difficulty="@exam.Difficulty" Questions="@exam.Questions" />
		</div>
		}
		
	</div>
</div>

@code {
	[Parameter]
	public int Category { get; set; }

	private static List<ExamCategory> Categories = new List<ExamCategory>
	{
		new  ExamCategory
		{
			CategoryId = 0,
			ImgUrl = "/Images/img1.jpg",
			ImgAlt = "Nature picture",
			TimeLimit = "No time limit",
			Title = "Nature Exam",
			Questions = 20,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			CategoryId = 1,
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam2",
			Questions = 15,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			CategoryId = 2,
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam3",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			CategoryId = 3,
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam4",
			Questions = 12,
			Difficulty = "Easy"
		},
		new  ExamCategory
		{
			CategoryId = 4,
			ImgUrl = "/Images/img1.jpg",
			TimeLimit = "No time limit",
			Title = "Nature Exam5",
			Questions = 12,
			Difficulty = "Easy"
		}
	};
}
