﻿@page "/admin/newexam"

<div class="container">
	<div class="row">
		<div class="col-12 d-flex justify-content-between p-0">
			<NavLink class="my-auto" href="/">
				Back <img src="/Images/arrow-left.svg" />
			</NavLink>
			<button class="create-btn">Create</button>
		</div>
		<div class="col-12 exam-container px-md-4 py-md-5 mt-3">
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<h1 contenteditable="true" class="text-center mb-4" @bind="ExamTitle">Untitled Exam</h1>
			<div class="col-12 add-new-container p-0 p-md-3 d-flex">
				<div class="add-btn-container">
					<button class="@(IsActiveButton(1) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(1)">Single Choice</button>
					<button class="@(IsActiveButton(2) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(2)">Multiple Choice</button>
					<button class="@(IsActiveButton(3) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(3)">Text</button>
				</div>
			</div>
			<div class="col-12">
				@if (activeButton == 1)
				{
					<div class="input-boxes">
						<div class="in-grp">
							<label for="question">Question</label>
							<input class="question-input" id="question" type="text" @bind="Question" placeholder="Write the question" />
						</div>
						<div class="in-grp">
							<label for="ans1">Answer 1</label>
							<div class="form-check d-inline">
								<div class="flex-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @onclick="() => UpdateSelectedOption(1)" checked="@IsOptionSelected(1)">
									<input class="text-bar w-100 @(showErrorMessage && string.IsNullOrWhiteSpace(inputValue1) ? "error-input" : "")" id="ans1" type="text" @bind="inputValue1" placeholder="Write the answer" />
									<div class="selected-option">
										@if (selectedOption == 1)
										{
											<i class="check-mark fa-solid fa-check fa-xl" style="color: #156523;"></i>
										}
									</div>
								</div>
								@if (showErrorMessage && string.IsNullOrWhiteSpace(inputValue1))
								{
									<span class="text-danger placeholder-text">Please write something here</span>
								}
							</div>
						</div>
						<div class="in-grp">
							<label for="ans2">Answer 2</label>
							<div class="form-check d-inline">
								<div class="flex-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onclick="() => UpdateSelectedOption(2)" checked="@IsOptionSelected(2)">
									<input class="text-bar w-100 @(showErrorMessage && string.IsNullOrWhiteSpace(inputValue2) ? "error-input" : "")" id="ans2" type="text" @bind="inputValue2" placeholder="Write the answer" />
									<div class="selected-option">
										@if (selectedOption == 2)
										{
											<i class="check-mark fa-solid fa-check fa-xl" style="color: #156523;"></i>
										}
									</div>
								</div>
								@if (showErrorMessage && string.IsNullOrWhiteSpace(inputValue2))
								{
									<span class="text-danger placeholder-text">Please write something here</span>
								}
							</div>
						</div>

						<div class="in-grp">
							<label for="ans3">Answer 3</label>
							<div class="form-check d-inline">
								<div class="flex-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" @onclick="() => UpdateSelectedOption(3)" checked="@IsOptionSelected(3)">
									<input class="text-bar w-100 @(showErrorMessage && string.IsNullOrWhiteSpace(inputValue3) ? "error-input" : "")" id="ans3" type="text" @bind="inputValue3" placeholder="Write the answer" />
									<div class="selected-option">
										@if (selectedOption == 3)
										{
											<i class="check-mark fa-solid fa-check fa-xl" style="color: #156523;"></i>
										}
									</div>
								</div>
								@if (showErrorMessage && string.IsNullOrWhiteSpace(inputValue3))
								{
									<span class="text-danger placeholder-text">Please write something here</span>
								}
							</div>
						</div>
						<div class="in-grp">
							<label for="ans4">Answer 4</label>
							<div class="form-check d-inline">
								<div class="flex-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" @onclick="() => UpdateSelectedOption(4)" checked="@IsOptionSelected(4)">
									<input class="text-bar w-100 @(showErrorMessage && string.IsNullOrWhiteSpace(inputValue4) ? "error-input" : "")" id="ans4" type="text" @bind="inputValue4" placeholder="Write the answer" />
									<div class="selected-option">
										@if (selectedOption == 4)
										{
											<i class="check-mark fa-solid fa-check fa-xl" style="color: #156523;"></i>
										}
									</div>
								</div>
								@if (showErrorMessage && string.IsNullOrWhiteSpace(inputValue4))
								{
									<span class="text-danger placeholder-text">Please write something here</span>
								}
							</div>
						</div>
						
						<button class="add-question-button" @onclick="AddToInputList">Add question</button>
						

						@if (showErrorMessage)
						{
							<p class="text-danger">Please fill in all input fields or choose a correct answer before adding to the list.</p>
						}
					</div>
				}
				
				</div>

			@foreach (var question in examQuestions)
			{
				count = 0;
				<div class="list-items">
					<div class="list-header"> 
						<h3><span class="first-text">Question:</span> @question.ExamQuestion</h3>
						<div class="buttons">
							<button class="menu-buttons" disabled="@isEditing" @onclick="() => EditQuestion(question)"><i class="fa-solid fa-pen-to-square fa-xl" style="color: #515761;"></i></button>
							<button class="menu-buttons" disabled="@isEditing" @onclick="() => MoveQuestionUp(question)"><i class="fa-solid fa-arrow-up fa-xl" style="color: #515761;"></i></button>
							<button class="menu-buttons" disabled="@isEditing" @onclick="() => MoveQuestionDown(question)"><i class="fa-solid fa-arrow-down fa-xl" style="color: #515761;"></i></button>
							<button class="menu-buttons" disabled="@isEditing" @onclick="() => DeleteQuestion(question)"><i class="fa-solid fa-trash fa-xl" style="color: #515761;"></i></button>
						</div>
					</div>
					<ul>
						@foreach (var option in question.Options)
						{
							count++;
							<li><span class="first-text">Answer @count: </span>@option</li>
						}
					</ul>

					<p><span class="first-text">Correct Option:</span> @question.CorrectOption</p>
				</div>
			}
		</div>
	</div>
</div>

@code {
	private int count = 0;
	private bool isEditing = false;
	private int selectedOption = 0;
	private bool showErrorMessage = false;


	private bool IsOptionSelected(int optionNumber)
	{
		return selectedOption == optionNumber;
	}

	private void UpdateSelectedOption(int optionNumber)
	{
		if (IsOptionSelected(optionNumber))
		{
			selectedOption = 0; 
		}
		else
		{
			selectedOption = optionNumber;
		}
	}

	private int activeButton = 0;

	private bool IsActiveButton(int buttonNumber)
	{
		return activeButton == buttonNumber;
	}

	private void ToggleActive(int buttonNumber)
	{
		activeButton = IsActiveButton(buttonNumber) ? 0 : buttonNumber;
	}
	private string ExamTitle = "";
	private string Question = "";
	private string inputValue1 = "";
	private string inputValue2 = "";
	private string inputValue3 = "";
	private string inputValue4 = "";

	private List<ExamQuestions> examQuestions = new List<ExamQuestions>();

	private bool AnyInputIsEmpty()
	{
		return string.IsNullOrWhiteSpace(inputValue1) ||
						string.IsNullOrWhiteSpace(inputValue2) ||
						string.IsNullOrWhiteSpace(inputValue3) ||
						string.IsNullOrWhiteSpace(inputValue4);
	}

	private void AddToInputList()
	{
		isEditing = false;
		if (AnyInputIsEmpty() || selectedOption == 0)
		{
			showErrorMessage = true;

			return;
		}

		showErrorMessage = false;

		var newQuestion = new ExamQuestions{
				ExamQuestion = Question,
				Options = new List<string>
			{
				inputValue1,
				inputValue2,
				inputValue3,
				inputValue4
			},
				CorrectOption = selectedOption
		};

		examQuestions.Add(newQuestion);

		Question = "";
		inputValue1 = "";
		inputValue2 = "";
		inputValue3 = "";
		inputValue4 = "";
		selectedOption = 0;
	}

	private void EditQuestion(ExamQuestions question)
	{
		isEditing = true;

		Question = question.ExamQuestion;
		inputValue1 = question.Options[0];
		inputValue2 = question.Options[1];
		inputValue3 = question.Options[2];
		inputValue4 = question.Options[3];
		selectedOption = question.CorrectOption;

		examQuestions.Remove(question);
	}

	private void MoveQuestionUp(ExamQuestions question)
	{
		int currentIndex = examQuestions.IndexOf(question);
		if (currentIndex > 0)
		{
			examQuestions.RemoveAt(currentIndex);
			examQuestions.Insert(currentIndex - 1, question);
		}
	}

	private void MoveQuestionDown(ExamQuestions question)
	{
		int currentIndex = examQuestions.IndexOf(question);
		if (currentIndex < examQuestions.Count - 1)
		{
			examQuestions.RemoveAt(currentIndex);
			examQuestions.Insert(currentIndex + 1, question);
		}
	}


	private void DeleteQuestion(ExamQuestions question)
	{
		examQuestions.Remove(question);
	}
}
