@page "/admin/newexam"

<div class="container">
	<div class="row">
		<div class="col-12 d-flex justify-content-between p-0">
			<NavLink class="my-auto" href="/">
				Back <img src="/Images/arrow-left.svg" />
			</NavLink>
			<button class="create-btn">Create</button>
		</div>
		<div class="col-12 exam-container px-md-4 py-md-5 mt-3">
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<div class="form-check">
			</div>
			<h1 contenteditable="true" class="text-center mb-4">Untitled Exam</h1>
			<div class="col-12 add-new-container p-0 p-md-3 d-flex">
				<div class="add-btn-container">
					<button class="@(IsActiveButton(1) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(1)">Single Choice</button>
					<button class="@(IsActiveButton(2) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(2)">Multiple Choice</button>
					<button class="@(IsActiveButton(3) ? "active-button" : "") ms-0 ms-md-4" @onclick="() => ToggleActive(3)">Text</button>
				</div>
			</div>
			<div class="col-12">
				@if (activeButton == 1)
				{
					<div class="input-boxes">
						<div class="in-grp">
							<label for="question">Question</label>
							<input id="question" type="text" @bind="ExamTitle" placeholder="Question" />
						</div>
						<div class="in-grp">
							<label for="ans1">Option 1</label>
							<div class="form-check d-inline">
								<input class="w-100" id="ans1" type="text" @bind="inputValue1" placeholder="Option 1" />
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @onclick="() => UpdateSelectedOption(1)" checked="@IsOptionSelected(1)">
							</div>
						</div>
						<div class="in-grp">
							<label for="ans2">Option 2</label>
							<div class="form-check d-inline">
								<input class="w-100" id="ans2" type="text" @bind="inputValue2" placeholder="Option 2" />
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onclick="() => UpdateSelectedOption(2)" checked="@IsOptionSelected(2)">
							</div>
						</div>
						<div class="in-grp">
							<label for="ans3">Option 3</label>
							<div class="form-check d-inline">
								<input class="w-100" id="ans3" type="text" @bind="inputValue3" placeholder="Option 3" />
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" @onclick="() => UpdateSelectedOption(3)" checked="@IsOptionSelected(3)">
							</div>
						</div>
						<div class="in-grp">
							<label for="ans4">Option 4</label>
							<div class="form-check d-inline">
								<input class="w-100" id="ans4" type="text" @bind="inputValue4" placeholder="Option 4" />
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" @onclick="() => UpdateSelectedOption(4)" checked="@IsOptionSelected(4)">
							</div>
						</div>
						<div class="selected-option">
							@if (selectedOption != 0)
							{
								<p>Correct Answer: @selectedOption</p>
							}
						</div>
						<button @onclick="AddToInputList">Add to List</button>
					</div>
				}
			</div>
			@foreach (var divText in inputList)
			{
				<div class="dynamic-div">
					@divText
				</div>
			}

		</div>
	</div>
</div>

@code {

	private int selectedOption = 0;

	private bool IsOptionSelected(int optionNumber)
	{
		return selectedOption == optionNumber;
	}

	private void UpdateSelectedOption(int optionNumber)
	{
		if (IsOptionSelected(optionNumber))
		{
			selectedOption = 0; 
		}
		else
		{
			selectedOption = optionNumber;
		}
	}

	private int activeButton = 0;

	private bool IsActiveButton(int buttonNumber)
	{
		return activeButton == buttonNumber;
	}

	private void ToggleActive(int buttonNumber)
	{
		activeButton = IsActiveButton(buttonNumber) ? 0 : buttonNumber;
	}
	private string ExamTitle = "";
	private string inputValue1 = "";
	private string inputValue2 = "";
	private string inputValue3 = "";
	private string inputValue4 = "";

	private List<object> inputList = new List<object>();

	private void AddToInputList()
	{
		if (selectedOption != 0 && ExamTitle.Length > 0 && inputValue1.Length > 0 && inputValue2.Length > 0 && inputValue3.Length > 0 && inputValue4.Length > 0)
		{
			inputList.Add(ExamTitle);
			inputList.Add(inputValue1);
			inputList.Add(inputValue2);
			inputList.Add(inputValue3);
			inputList.Add(inputValue4);
			inputList.Add(selectedOption);

			ExamTitle = "";
			inputValue1 = "";
			inputValue2 = "";
			inputValue3 = "";
			inputValue4 = "";
			selectedOption = 0;
		}
		else
		{
			
		}
	}
}
